@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>
        Browse New Releases and Next Sellers
    </h2>

    
    <img src="https://www.pixelstalk.net/wp-content/uploads/2016/07/Music-Note-Desktop-Backgrounds.jpg" alt="Sample Photo" width="1000" height="800" />

</div>


